<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop:true }"></ngx-loading>
<app-header></app-header>

<div class="mainContent">

    <ul class="breadcrumb">
        <li class="breadcrumb-item mt-2"><a class="pointer" routerLink="/home">WhatsPay</a></li>
        <li class="breadcrumb-item mt-2"><a class="pointer" routerLink="/home">Home</a></li>
        <li class="breadcrumb-item mt-2 active">{{user.firstName}} {{user.lastName}}</li>
    </ul>

    <div class="row userData bg-white p-3 mb-3">
        <div class="col-md-3 text-center">
            <img [src]="user.profileUrl || './assets/imgs/user.png'">
        </div>
        <div class="col-md-9">
            <table class="table table-bordered table-sm mt-3">
                <tr class="row">
                    <td class="col-md-2">Full Name</td>
                    <td class="col-md-10">{{user.firstName}} {{user.lastName}}</td>
                </tr>
                <tr class="row">
                    <td class="col-md-2">Email Address</td>
                    <td class="col-md-10">{{user.contactEmail}}</td>
                </tr>
                <tr class="row">
                    <td class="col-md-2">Phone Number</td>
                    <td class="col-md-10">{{user.phone}}</td>
                </tr>
                <tr class="row">
                    <td class="col-md-2">City</td>
                    <td class="col-md-10">{{user.city}}</td>
                </tr>
                <tr class="row">
                    <td class="col-md-2">Country</td>
                    <td class="col-md-10">{{user.country}}</td>
                </tr>
                <tr class="row">
                    <td class="col-md-2">Joined on:</td>
                    <td class="col-md-10">{{user.timestamp | date:'medium'}}</td>
                </tr>
            </table>
        </div>
    </div>

    <h4>Recent Transactions:</h4>

    <table class="table table-bordered table-sm bg-white">
        <thead>
            <th>#</th>
            <th>Date</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Sender/Receiver</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>20/09/2019</td>
                <td>Amount Transferred</td>
                <td>$320</td>
                <td>Marrie Doe</td>
            </tr>
            <tr>
                <td>2</td>
                <td>20/09/2019</td>
                <td>Amount Received</td>
                <td>$320</td>
                <td>Danny Doe</td>
            </tr>
        </tbody>
    </table>

</div>